{% extends 'layout.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">

        <form method="POST" class="form-signin">
            <!-- Protecting submitted data from Cross Site Request Forgery (CSRF) attack -->
            {{ form.hidden_tag() }}
            
            <div class="img-container">
                <img src="/static/img/home-bright.png" class="reg-img" alt="registration form image">
            </div>
            <h2 class="head">Login your Account Please</h2>
            <br>
            <!--
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
            -->
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>

            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>

    </div>
</body>
{% endblock %}